#service_area{
    width: 100%;
    padding: 10px 20px;
    h1{
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        margin: 10px;
    }
    .container{
        width: 1140px;
        max-width: 95%;
        margin: auto;
        display: flex;
    }
    .child_container{
        background-color: $primaryColor ;
        color: $textwhite;
        text-align: center;
        padding: 15px 10px;
        flex: 1;
        &:nth-child(odd){
            background-color: $secoundaryColor;
        }
        i{
            font-size: 24px;
            margin: 15px 0px;
        }
        h2{
            font-size: 26px;
            letter-spacing: 3px;
        }
    }
}
